<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <title>Sign In — ZTLP Bootstrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              ztlp: { 50: '#f0f9ff', 100: '#e0f2fe', 500: '#0ea5e9', 600: '#0284c7', 700: '#0369a1', 800: '#075985', 900: '#0c4a6e' }
            }
          }
        }
      }
    </script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-ztlp-800">
    <div class="min-h-full flex items-center justify-center px-4 py-12">
      <%= yield %>
    </div>
  </body>
</html>
